Source: linux-rpi-dummy
Section: kernel
Priority: optional
Maintainer: Yuta Kiyonaga <kiyonaga@mechatrax.com>
Uploaders: Masahiro Honda <honda@mechatrax.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.6.2
Vcs-Git: https://github.com/mechatrax/linux-rpi-dummy.git
Vcs-browser: https://github.com/mechatrax/linux-rpi-dummy
Homepage: https://mechatrax.com/

Package: linux-image-rpi-dummy
Architecture: armhf arm64
Recommends: mechatrax-firmware-dummy
Depends: linux-image-rpi-v6 [armhf], linux-image-rpi-v7 [armhf], linux-image-rpi-v7l [armhf], linux-image-rpi-v8 [arm64], linux-image-rpi-2712 [arm64]
Description: transitional dummy package
 This is a transitional dummy package for Raspberry Pi kernel. 

Package: linux-headers-rpi-dummy
Architecture: armhf arm64
Depends: linux-headers-rpi-v6 [armhf], linux-headers-rpi-v7 [armhf], linux-headers-rpi-v7l [armhf], linux-headers-rpi-v8 [arm64], linux-headers-rpi-2712 [arm64]
Description: transitional dummy package
 This is a transitional dummy package for Raspberry Pi kernel headers. 
